/* ==========================================================================
CSS Queries
========================================================================== */

@media screen and (max-width:800px) {

}
@media screen and (max-width:500px),screen and (max-height: 400px) {
	#appcontainer h3{
		font-size: 36px;
		line-height: 30px;
	}
	#appcontainer h3 span{
		font-size: 27px;
		letter-spacing: 12.75px;
	}
	.applogo{
		width: 90px;
		height: auto;
	}
	.btn-call .table-cell img { width: 15%;}
}

